* {
  box-sizing: border-box;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  margin: auto 1rem 60px;
  padding-top: 40px;
}

a {
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px; /* the bottom margin is the negative value of the footer's height */
}

footer {
  position: absolute;
  bottom: 25px;
  left:   5%;
  width:  90%;
  font-size: 1rem;
  height: 60px;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px;
}

.navbar .nav {
    margin: 0;
    display: table;
    width: 100%;
}

.navbar .nav li {
    display: table-cell;
    width: auto;
    float: none;
}

.navbar .nav li a {
    text-align: center;
}

.navbar-nav > li > a {
  padding-top: 15px;
}

header,
main,
footer {
  text-align: center;
}

header {
  text-transform: uppercase;
}

header h1 > a:link,
header h1 > a:visited,
header h1 > a:hover,
header h1 > a:active {
  font-weight: bold;
  letter-spacing: 2px;

  text-decoration: none;
  color: inherit;
}

header .glyphicon {
  position: relative;
  top: 5px;
}

.modal-header {
  padding: 5px 15px;
}

#login-modal {
  top: 15%;
}


